@font-face {
    font-family: 'DMSans';
    src: url('./DMSans.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'DMSerifDisplay';
    src: url('./DMSerifDisplay.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

body {
    margin: 0 auto;
    background: url('./tempbg.jpeg') fixed no-repeat 0 0;
}

header > nav {
    font-family: 'DMSans';
    padding: 20px;
    border-radius: 9px;
}

header {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px;
}

nav:hover {
    background-color: rgba(129, 129, 129, 0.648);
    cursor: pointer;
}

.hero {
    font-family: 'DMSerifDisplay';
    font-size: 5em;
    color: rgb(255, 255, 255);
    padding: 20px;
    line-height: 8rem;
    margin: auto;
    text-align: center;
}