@font-face {
    font-family: 'DMSans';
    src: url('./DMSans.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'DMSerifDisplay';
    src: url('./DMSerifDisplay.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

html {
    font-family: 'DMSans';
}

body {
    margin: 0 auto;
    background: url('./tempbg.jpeg') fixed no-repeat 0 0;
}

div,
nav {
    box-sizing: border-box;
}

header > nav {
    font-family: 'DMSans';
    padding: 10px;
    border-radius: 9px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30vw;
}

header {
    display: flex;
    justify-content: space-around;
    color: white;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: black;
}

nav:hover {
    background-color: rgba(129, 129, 129, 0.648);
    cursor: pointer;
}

.hero {
    font-family: 'DMSerifDisplay';
    font-size: 5em;
    color: rgb(255, 255, 255);
    padding: 20px;
    line-height: 8rem;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mission {
    background-color: white;
    padding: 100px;
    height: 100vh;
}

.missionText {
    padding: 2em;
}